## MOD1 PROJECT SCRATCHPAD

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
sales_data = pd.read_csv('EXTR_RPSale.csv')

/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
res_sales = pd.read_csv('EXTR_ResBldg.csv')

/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
sales_data.head(10).T
#data overview, will need to drop columns not relevant for estimating price

,0,1,2,3,4,5,6,7,8,9
ExciseTaxNbr,2687551,1235111,2704079,2584094,1056831,1971467,1813750,1813750,1813750,1813750
Major,138860,664885,423943,403700,951120,605475,122209,122209,12307,12307
Minor,110,40,50,715,900,10,9002,9001,9020,9005
DocumentDate,08/21/2014,07/09/1991,10/11/2014,01/04/2013,04/20/1989,07/07/2003,04/25/2001,04/25/2001,04/25/2001,04/25/2001
SalePrice,245000,0,0,0,85000,0,5755000,5755000,5755000,5755000
RecordingNbr,20140828001436,199203161090,20141205000558,20130110000910,198904260448,20030708003207,20010426001305,20010426001305,20010426001305,20010426001305
Volume,,071,,,117,,,,,
Page,,001,,,053,,,,,
PlatNbr,,664885,,,951120,,,,,
PlatType,,C,,,P,,,,,
PlatLot,,B102,,,90,,,,,
PlatBlock,,,,,,,,,,
SellerName,WENKLE NOEL SMITH -TRUSTEE ...,HERRMAN JEFFREY A+PAULINE A ...,STEPHENS ANTHONY P ...,PASTORS EDWIN ...,STRATHY FLORENCE G ...,FUETTERER MARY ANNA C+NIPPER BILL B ...,MANKE LUMBER CO INC ...,MANKE LUMBER CO INC ...,MANKE LUMBER CO INC ...,MANKE LUMBER CO INC ...
BuyerName,ALEXANDER APRIL ...,HERRMAN PAULINE A TTEE ...,STEPHENS ANTHONY P ...,PASTORS KHRISTINA ...,PORTER DONALD D+EVELYN V ...,NIPPER BILL BRUCE ...,WASHINGTON STATE OF ...,WASHINGTON STATE OF ...,WASHINGTON STATE OF ...,WASHINGTON STATE OF ...
PropertyType,3,3,3,3,3,6,1,1,1,1
PrincipalUse,6,0,6,6,0,2,9,9,9,9
SaleInstrument,3,26,15,15,2,22,3,3,3,3
AFForestLand,N,N,N,N,N,N,N,N,N,N
AFCurrentUseLand,N,N,N,N,N,N,N,N,N,N
AFNonProfitUse,N,N,N,N,N,N,N,N,N,N
AFHistoricProperty,N,N,N,N,N,N,N,N,N,N
SaleReason,1,18,18,11,1,8,1,1,1,1
PropertyClass,8,3,8,8,9,3,7,7,7,7
SaleWarning,,11,18 31 51,18 31 38,49,12 31 51,11 16 45,11 16 45,11 16 45,11 16 45

In [5]:
sales_data.shape

(2033420, 24)

In [6]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033420 entries, 0 to 2033419
Data columns (total 24 columns):
ExciseTaxNbr          int64
Major                 object
Minor                 object
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: int64(7), object(17)
memory usage: 372.3+ MB

In [7]:
sales_data.describe()

,ExciseTaxNbr,SalePrice,PropertyType,PrincipalUse,SaleInstrument,SaleReason,PropertyClass
count,2.033420e+06,2.033420e+06,2.033420e+06,2.033420e+06,2.033420e+06,2.033420e+06,2.033420e+06
mean,2.036498e+06,5.925071e+05,3.171057e+00,4.607211e+00,7.348003e+00,5.401358e+00,6.509844e+00
std,5.652761e+05,6.009803e+06,3.932915e+00,2.617056e+00,6.612247e+00,6.235909e+00,2.483860e+00
min,4.565830e+05,-6.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.577761e+06,0.000000e+00,3.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,3.000000e+00
50%,2.048010e+06,1.500000e+05,3.000000e+00,6.000000e+00,3.000000e+00,1.000000e+00,8.000000e+00
75%,2.516264e+06,3.500000e+05,3.000000e+00,6.000000e+00,1.500000e+01,1.000000e+01,8.000000e+00
max,2.998042e+06,7.398850e+08,9.900000e+01,1.100000e+01,2.800000e+01,1.900000e+01,9.000000e+00

In [8]:
res_sales.head().T

,0,1,2,3,4
Major,520,640,640,660,720
Minor,67,7,16,96,13
BldgNbr,1,1,1,1,1
NbrLivingUnits,1,1,1,1,1
Address,6781 MARS AVE S 98108,45216 196TH AVE SE 98022,20410 SE 456TH WAY 98022,8501 S 259TH ST 98030,84 LOGAN AVE S 98055
BuildingNumber,6781,45216,20410,8501,84
Fraction,,,,,
DirectionPrefix,,,SE,S,
StreetName,MARS,196TH,456TH,259TH,LOGAN
StreetType,AVE,AVE,WAY,ST,AVE
DirectionSuffix,S,SE,,,S
ZipCode,98108,98022,98022,98030,98055
Stories,1,2,2,1.5,1.5
BldgGrade,7,6,9,7,6
BldgGradeVar,0,0,0,0,0
SqFt1stFloor,1440,1100,1780,950,920
SqFtHalfFloor,0,0,0,410,350
SqFt2ndFloor,0,670,940,0,0
SqFtUpperFloor,0,0,0,0,0
SqFtUnfinFull,0,0,0,0,0
SqFtUnfinHalf,0,0,0,0,0
SqFtTotLiving,2360,1770,2720,1360,1270
SqFtTotBasement,920,0,0,950,420
SqFtFinBasement,920,0,0,0,0
FinBasementGrade,6,0,0,0,0
SqFtGarageBasement,0,0,0,0,0
SqFtGarageAttached,0,0,740,0,0
DaylightBasement,N,,,N,N
SqFtOpenPorch,0,0,70,0,130
SqFtEnclosedPorch,0,0,0,0,0
SqFtDeck,250,0,0,0,0
HeatSystem,5,4,7,5,5
HeatSource,2,3,3,1,2
BrickStone,0,0,0,0,0
ViewUtilization,N,,,N,N
Bedrooms,3,3,3,4,3
BathHalfCount,0,1,1,0,0
Bath3qtrCount,1,0,0,0,0
BathFullCount,2,1,3,1,1
FpSingleStory,0,0,1,0,1
FpMultiStory,1,1,0,0,0
FpFreestanding,0,0,0,0,0
FpAdditional,1,0,0,0,0
YrBuilt,1940,1961,2004,1933,1924
YrRenovated,2014,0,0,0,0
PcntComplete,0,0,0,0,0
Obsolescence,0,0,0,0,0
PcntNetCondition,0,0,0,0,0
Condition,3,4,3,4,3
AddnlCost,0,0,0,0,0

In [9]:
#remove seller and buyer names
#remove recording number, volume and page
sales_data = sales_data[['ExciseTaxNbr', 'Major', 'Minor', 'DocumentDate', 'SalePrice',
                            'PlatType', 'PropertyType', 'SaleInstrument', 'SaleReason',
                            'PropertyClass']]

In [10]:
sales_data.head()
#view trimmed dataset

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,PlatType,PropertyType,SaleInstrument,SaleReason,PropertyClass
0,2687551,138860,110,08/21/2014,245000,,3,3,1,8
1,1235111,664885,40,07/09/1991,0,C,3,26,18,3
2,2704079,423943,50,10/11/2014,0,,3,15,18,8
3,2584094,403700,715,01/04/2013,0,,3,15,11,8
4,1056831,951120,900,04/20/1989,85000,P,3,2,1,9

In [11]:
sales_data['PlatType'].value_counts()
#too many missing values, remove PlatType

     1522950
P     421582
C      75416
U      12330
D       1142
Name: PlatType, dtype: int64

In [12]:
sales_data = sales_data.drop(['PlatType'], axis=1)

In [13]:
res_sales.head().T
#over view data

,0,1,2,3,4
Major,520,640,640,660,720
Minor,67,7,16,96,13
BldgNbr,1,1,1,1,1
NbrLivingUnits,1,1,1,1,1
Address,6781 MARS AVE S 98108,45216 196TH AVE SE 98022,20410 SE 456TH WAY 98022,8501 S 259TH ST 98030,84 LOGAN AVE S 98055
BuildingNumber,6781,45216,20410,8501,84
Fraction,,,,,
DirectionPrefix,,,SE,S,
StreetName,MARS,196TH,456TH,259TH,LOGAN
StreetType,AVE,AVE,WAY,ST,AVE
DirectionSuffix,S,SE,,,S
ZipCode,98108,98022,98022,98030,98055
Stories,1,2,2,1.5,1.5
BldgGrade,7,6,9,7,6
BldgGradeVar,0,0,0,0,0
SqFt1stFloor,1440,1100,1780,950,920
SqFtHalfFloor,0,0,0,410,350
SqFt2ndFloor,0,670,940,0,0
SqFtUpperFloor,0,0,0,0,0
SqFtUnfinFull,0,0,0,0,0
SqFtUnfinHalf,0,0,0,0,0
SqFtTotLiving,2360,1770,2720,1360,1270
SqFtTotBasement,920,0,0,950,420
SqFtFinBasement,920,0,0,0,0
FinBasementGrade,6,0,0,0,0
SqFtGarageBasement,0,0,0,0,0
SqFtGarageAttached,0,0,740,0,0
DaylightBasement,N,,,N,N
SqFtOpenPorch,0,0,70,0,130
SqFtEnclosedPorch,0,0,0,0,0
SqFtDeck,250,0,0,0,0
HeatSystem,5,4,7,5,5
HeatSource,2,3,3,1,2
BrickStone,0,0,0,0,0
ViewUtilization,N,,,N,N
Bedrooms,3,3,3,4,3
BathHalfCount,0,1,1,0,0
Bath3qtrCount,1,0,0,0,0
BathFullCount,2,1,3,1,1
FpSingleStory,0,0,1,0,1
FpMultiStory,1,1,0,0,0
FpFreestanding,0,0,0,0,0
FpAdditional,1,0,0,0,0
YrBuilt,1940,1961,2004,1933,1924
YrRenovated,2014,0,0,0,0
PcntComplete,0,0,0,0,0
Obsolescence,0,0,0,0,0
PcntNetCondition,0,0,0,0,0
Condition,3,4,3,4,3
AddnlCost,0,0,0,0,0

In [14]:
res_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512548 entries, 0 to 512547
Data columns (total 50 columns):
Major                 512548 non-null int64
Minor                 512548 non-null int64
BldgNbr               512548 non-null int64
NbrLivingUnits        512548 non-null int64
Address               512548 non-null object
BuildingNumber        512548 non-null object
Fraction              512548 non-null object
DirectionPrefix       511984 non-null object
StreetName            512548 non-null object
StreetType            512548 non-null object
DirectionSuffix       511984 non-null object
ZipCode               468452 non-null object
Stories               512548 non-null float64
BldgGrade             512548 non-null int64
BldgGradeVar          512548 non-null int64
SqFt1stFloor          512548 non-null int64
SqFtHalfFloor         512548 non-null int64
SqFt2ndFloor          512548 non-null int64
SqFtUpperFloor        512548 non-null int64
SqFtUnfinFull         512548 non-null int64
SqFtUnfinHalf         512548 non-null int64
SqFtTotLiving         512548 non-null int64
SqFtTotBasement       512548 non-null int64
SqFtFinBasement       512548 non-null int64
FinBasementGrade      512548 non-null int64
SqFtGarageBasement    512548 non-null int64
SqFtGarageAttached    512548 non-null int64
DaylightBasement      512548 non-null object
SqFtOpenPorch         512548 non-null int64
SqFtEnclosedPorch     512548 non-null int64
SqFtDeck              512548 non-null int64
HeatSystem            512548 non-null int64
HeatSource            512548 non-null int64
BrickStone            512548 non-null int64
ViewUtilization       512548 non-null object
Bedrooms              512548 non-null int64
BathHalfCount         512548 non-null int64
Bath3qtrCount         512548 non-null int64
BathFullCount         512548 non-null int64
FpSingleStory         512548 non-null int64
FpMultiStory          512548 non-null int64
FpFreestanding        512548 non-null int64
FpAdditional          512548 non-null int64
YrBuilt               512548 non-null int64
YrRenovated           512548 non-null int64
PcntComplete          512548 non-null int64
Obsolescence          512548 non-null int64
PcntNetCondition      512548 non-null int64
Condition             512548 non-null int64
AddnlCost             512548 non-null int64
dtypes: float64(1), int64(39), object(10)
memory usage: 195.5+ MB

In [15]:
res_sales = res_sales[['Major', 'Minor', 'NbrLivingUnits', 'ZipCode', 'BldgGrade', 
                       'SqFtTotLiving', 'HeatSystem', 'HeatSource', 'BrickStone',
                      'ViewUtilization', 'Bedrooms', 'BathFullCount', 'YrBuilt', 
                       'YrRenovated', 'PcntComplete', 'Obsolescence' ,'PcntNetCondition',
                       'Condition', 'AddnlCost']]

In [16]:
res_sales.head().T

                      0      1      2      3      4
Major               520    640    640    660    720
Minor                67      7     16     96     13
NbrLivingUnits        1      1      1      1      1
ZipCode           98108  98022  98022  98030  98055
BldgGrade             7      6      9      7      6
SqFtTotLiving      2360   1770   2720   1360   1270
HeatSystem            5      4      7      5      5
HeatSource            2      3      3      1      2
BrickStone            0      0      0      0      0
ViewUtilization       N                    N      N
Bedrooms              3      3      3      4      3
BathFullCount         2      1      3      1      1
YrBuilt            1940   1961   2004   1933   1924
YrRenovated        2014      0      0      0      0
PcntComplete          0      0      0      0      0
Obsolescence          0      0      0      0      0
PcntNetCondition      0      0      0      0      0
Condition             3      4      3      4      3
AddnlCost             0      0      0      0      0

In [17]:
#remove additional columns due to considerable lack of data 
res_sales = res_sales[['Major', 'Minor', 'NbrLivingUnits', 'ZipCode', 'BldgGrade', 
                       'SqFtTotLiving', 'Bedrooms', 'BathFullCount', 'YrBuilt', 
                       'YrRenovated','Condition']]

In [18]:
res_sales.head()

,Major,Minor,NbrLivingUnits,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathFullCount,YrBuilt,YrRenovated,Condition
0,520,67,1,98108,7,2360,3,2,1940,2014,3
1,640,7,1,98022,6,1770,3,1,1961,0,4
2,640,16,1,98022,9,2720,3,3,2004,0,3
3,660,96,1,98030,7,1360,4,1,1933,0,4
4,720,13,1,98055,6,1270,3,1,1924,0,3

In [19]:
#before merging data, convert major, minor columns for sales data
sales_data['Major'] = pd.to_numeric(sales_data['Major'], errors='coerce')
sales_data['Minor'] = pd.to_numeric(sales_data['Minor'], errors='coerce')

In [20]:
#merge 
kc_data = pd.merge(sales_data, res_sales, on=['Major', 'Minor'])

In [21]:
kc_data.head().T

                         0           1           2           3           4
ExciseTaxNbr       2687551     1066933     2102034     2131568     2704079
Major               138860      138860      138860      138860      423943
Minor                  110         110         110         110          50
DocumentDate    08/21/2014  06/12/1989  01/16/2005  06/08/2005  10/11/2014
SalePrice           245000      109300       14684           0           0
PropertyType             3           2           2           0           3
SaleInstrument           3           2           4           2          15
SaleReason               1           1          14           5          18
PropertyClass            8           8           8           8           8
NbrLivingUnits           1           1           1           1           1
ZipCode              98002       98002       98002       98002       98092
BldgGrade                7           7           7           7           6
SqFtTotLiving         1490        1490        1490        1490         960
Bedrooms                 3           3           3           3           3
BathFullCount            2           2           2           2           1
YrBuilt               1989        1989        1989        1989        1969
YrRenovated              0           0           0           0           0
Condition                3           3           3           3           4

In [22]:
kc_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451791 entries, 0 to 1451790
Data columns (total 18 columns):
ExciseTaxNbr      1451791 non-null int64
Major             1451791 non-null float64
Minor             1451791 non-null float64
DocumentDate      1451791 non-null object
SalePrice         1451791 non-null int64
PropertyType      1451791 non-null int64
SaleInstrument    1451791 non-null int64
SaleReason        1451791 non-null int64
PropertyClass     1451791 non-null int64
NbrLivingUnits    1451791 non-null int64
ZipCode           1333409 non-null object
BldgGrade         1451791 non-null int64
SqFtTotLiving     1451791 non-null int64
Bedrooms          1451791 non-null int64
BathFullCount     1451791 non-null int64
YrBuilt           1451791 non-null int64
YrRenovated       1451791 non-null int64
Condition         1451791 non-null int64
dtypes: float64(2), int64(14), object(2)
memory usage: 210.4+ MB

In [36]:
kc_data2 = pd.merge(sales_data, res_sales, how='outer', on=['Major', 'Minor'])

In [23]:
#remove sale price less than 0
kc_data = kc_data.loc[kc_data['SalePrice'] > 0]

In [24]:
kc_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 959055 entries, 0 to 1451790
Data columns (total 18 columns):
ExciseTaxNbr      959055 non-null int64
Major             959055 non-null float64
Minor             959055 non-null float64
DocumentDate      959055 non-null object
SalePrice         959055 non-null int64
PropertyType      959055 non-null int64
SaleInstrument    959055 non-null int64
SaleReason        959055 non-null int64
PropertyClass     959055 non-null int64
NbrLivingUnits    959055 non-null int64
ZipCode           875238 non-null object
BldgGrade         959055 non-null int64
SqFtTotLiving     959055 non-null int64
Bedrooms          959055 non-null int64
BathFullCount     959055 non-null int64
YrBuilt           959055 non-null int64
YrRenovated       959055 non-null int64
Condition         959055 non-null int64
dtypes: float64(2), int64(14), object(2)
memory usage: 139.0+ MB

In [25]:
#drop columns 'PropertyType', 'SaleInstrument', and 'PropertyClass'since information will not
#be helpful in a regression due to heavy skew towards one value
kc_data = kc_data.drop(['PropertyType', 'SaleInstrument', 'PropertyClass'], axis=1)

In [34]:
kc_data.sort_values(by='SalePrice').head(10)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,SaleReason,NbrLivingUnits,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathFullCount,YrBuilt,YrRenovated,Condition
987666,2810201,242202.0,9083.0,07/10/2016,1,1,1,98070,9,2830,3,2,1999,0,3
1108942,1171322,102308.0,9163.0,12/04/1990,1,1,1,98045,6,1330,3,1,1980,0,4
1281679,2433312,108750.0,15.0,02/24/2010,1,13,1,98033,7,1620,3,1,1955,0,3
1311156,2918379,276760.0,4076.0,01/27/2018,1,5,1,NaN,8,1270,3,2,2007,0,3
1058437,2630411,921150.0,230.0,08/28/2013,1,16,1,98023,7,1830,4,2,1979,0,5
276,1716349,563450.0,966.0,10/15/1999,1,18,1,98028,7,1880,4,3,2002,0,3
819266,2894960,387620.0,700.0,10/09/2017,1,10,1,98034,7,2300,5,1,1967,0,3
1422487,2750018,182205.0,9199.0,08/12/2015,1,11,1,98031,7,2400,4,1,1966,0,3
445138,1854660,276960.0,1215.0,11/26/2001,1,13,1,98107,6,800,2,1,1920,0,4
1430753,1975191,405940.0,430.0,07/23/2003,1,14,1,98178,6,1910,4,2,1944,0,5

In [54]:
#remove sale price less than 1000
kc_data = kc_data.loc[kc_data['SalePrice'] > 1000]

In [58]:
kc_data.sort_values(by='SalePrice').head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,SaleReason,NbrLivingUnits,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathFullCount,YrBuilt,YrRenovated,Condition
669661,1489890,282305.0,9123.0,06/05/1996,1007,18,1,98058,7,2580,6,2,1961,0,4
826846,1523507,355891.0,330.0,12/26/1996,1010,14,1,98034,7,1650,4,1,1973,0,3
1388848,1271462,556120.0,300.0,09/08/1992,1013,18,1,98027,7,2160,3,1,1983,0,4
847138,1781275,122105.0,9176.0,09/26/2000,1025,0,1,98092,7,2200,4,2,1989,0,3
1271639,1902188,861580.0,215.0,08/02/2002,1028,14,1,98105,9,3460,5,2,1910,0,5

In [59]:
#remove sale price less than 1000
kc_data = kc_data.loc[kc_data['SalePrice'] > 5000]

In [60]:
kc_data.sort_values(by='SalePrice').head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,SaleReason,NbrLivingUnits,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathFullCount,YrBuilt,YrRenovated,Condition
579064,1668175,407780.0,600.0,02/19/1999,5008,8,1,98125,7,2550,4,1,1961,0,3
861174,1268743,154580.0,6240.0,07/16/1992,5009,1,1,98038,7,1460,3,1,1983,0,5
476509,1857694,721140.0,1730.0,12/08/2001,5035,2,1,98146,6,970,3,1,1925,0,3
1077188,2142198,278731.0,510.0,07/11/2005,5050,18,1,98031,7,1590,4,2,1974,0,3
230350,2402250,108870.0,430.0,07/27/2009,5060,14,1,98007,10,3100,4,1,1988,0,4

In [61]:
#drop excise tax number
kc_data = kc_data.drop(['ExciseTaxNbr'], axis=1)

In [62]:
kc_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 955274 entries, 0 to 1451790
Data columns (total 14 columns):
Major             955274 non-null float64
Minor             955274 non-null float64
DocumentDate      955274 non-null object
SalePrice         955274 non-null int64
SaleReason        955274 non-null int64
NbrLivingUnits    955274 non-null int64
ZipCode           871740 non-null object
BldgGrade         955274 non-null int64
SqFtTotLiving     955274 non-null int64
Bedrooms          955274 non-null int64
BathFullCount     955274 non-null int64
YrBuilt           955274 non-null int64
YrRenovated       955274 non-null int64
Condition         955274 non-null int64
dtypes: float64(2), int64(10), object(2)
memory usage: 109.3+ MB

In [63]:
#convert date to datetime and add year column
kc_data['Date'] = kc_data['DocumentDate'].apply(pd.Timestamp)
kc_data['Year'] = kc_data['Date'].apply(lambda ts: ts.year)

In [64]:
kc_data.head()

,Major,Minor,DocumentDate,SalePrice,SaleReason,NbrLivingUnits,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathFullCount,YrBuilt,YrRenovated,Condition,Date,Year
0,138860.0,110.0,08/21/2014,245000,1,1,98002,7,1490,3,2,1989,0,3,2014-08-21,2014
1,138860.0,110.0,06/12/1989,109300,1,1,98002,7,1490,3,2,1989,0,3,1989-06-12,1989
2,138860.0,110.0,01/16/2005,14684,14,1,98002,7,1490,3,2,1989,0,3,2005-01-16,2005
6,423943.0,50.0,07/15/1999,96000,1,1,98092,6,960,3,1,1969,0,4,1999-07-15,1999
7,423943.0,50.0,01/08/2001,127500,1,1,98092,6,960,3,1,1969,0,4,2001-01-08,2001

In [65]:
#drop original DocumentDate column
kc_data = kc_data.drop(['DocumentDate'], axis=1)

In [73]:
#convert zipcodes
kc_data['ZipCode'] = kc_data['ZipCode'].apply(lambda zipcode: '00000' if pd.isnull(zipcode) else zipcode)

In [75]:
kc_data['ZipCode'] = kc_data['ZipCode'].apply(str)

In [76]:
kc_data['ZipCode'] = kc_data['ZipCode'].apply(lambda zipcode: zipcode[:5] 
                                                              if len(zipcode) > 5 else zipcode)

In [77]:
kc_data['ZipCode'] = kc_data['ZipCode'].apply(lambda zipcode: '00000' 
                                                              if len(zipcode) < 5 else zipcode)

In [80]:
kc_data['ZipCode'] = kc_data['ZipCode'].apply(int)